network = "testnet"

listen {
    mobileAPI = 9005
    internalAPI = 9006
}

external {
    coreAPIServer = "https://api.test.bitmark.com"
    messageQueue {
        server = "q.cluster.devel.bitmark.com:32150"
        crtFile = "./nsq-cers/nsq.crt"
        keyFile = "./nsq-cers/nsq.key"
    }
    iftttServer = "https://when.test.bitmark.com"
    pushServer = "http://n.devel.bitmark.com"
    pushServerBeta = "http://n.devel.bitmark.com"
}

push-notification {
    primary = {
        host = "https://n.devel.bitmark.com:31675"
        topic = "com.bitmark.bitmarkios"
    }

    beta = {
        host = "https://n.devel.bitmark.com:31675"
        topic = "com.bitmark.bitmarkios.development"
    }
}

db {
    host = "mobile-devnet.c2yhyb2xjk0n.ap-southeast-1.rds.amazonaws.com"
    port = 25432
    username = "bitmark"
    password = "u7yNFd4FHVAGxVjWpP8ufuRnVeYCdvLeYN7C8TFP5AHXaA6WanfDqE2skFhhLTpQ"
    dbname = "mobile"
    SSLMode = "disable"
}

jwt {
    secretKey = "10a8356f4216367b3b47731a23670461459391e6bed46124ed3641504cc771c1"
    expireInHour = 3
}

data-donation {
    researchers = {
        egQvuKnfRkztqY161HW17QmHDihc6SrrFt8RH393LoQVJxHZhW = "Madelena"
    }
}