docs/build/*
dist/
node_modules/
npm-debug.log*
.DS_Store
bower_components/
bitmark-id.png
bitmark-id.pdf
local-*
gobmkd/go-rpc
.sass-cache
processing/vault_maze_pattern_background/output/bg_pattern_-2302756.png
**/.idea/*
.vscode
typings
logs
.eslintrc.js
jsconfig.json
.pyc
/Assets
changelog.old

bitmark-data-donation/src/utils/notification/ios/cert_inhouse.pem
bitmark-data-donation/src/utils/notification/ios/key_inhouse.pem
bitmark-webapp-client/package-lock.json
log/bitmark-account/account.log
log/bitmark-account/webapp.log
bitmark-account-client/package-lock.json
